div{
    text-align: center;
}

h1{
    font-size: 13rem;
    color: rgb(215, 229, 238);
}

button{
    width: 10rem;
    height: 3rem;
    border-radius: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 1rem;
    background-color: rgb(46, 46, 46);
    color: rgb(255, 255, 255);
}